*{
    padding: 0px;
    margin: 0px;
}
.hospital-name{
    height: 110px;
    /* background-color: #191515D6; */
    background-color: green;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 140px;
}
.hospital-name p{
    color: white;
    font-size: 2.5rem;
}
.logo1{
    height:80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 80px;
    background-image: url("photo/islami.png");
    background-size: cover;
}
.all{
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #191515D6;
}
.header{
    height: 50px;
    width: 300px;
    font-size: 2rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#03A45E;
    color: white;
    border-radius: 30px;
}

.header1{
    margin-top: 10px;
    height: 50px;
    width: 300px;
    font-size: 2rem;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03A45E;
    color: white;
    border-radius: 30px;
}
.main{
    height: 1900px;
    /* border: 1px solid black; */
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.main-1{
    height: 400px;
    width: 300px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.doctor-img{
    height: 200px;
    width: 200px;
    margin-top: 10px;
    border: 1px solid black;
    background-size: cover;
}
.text{
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bolder;
}
footer{
    height: 600px;
    /* border: 1px solid black; */
    background-color: #03A45E;
    color: white;
}
.footer-1{
    height: 350px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
}
.footer-text1{
    height: 300px;
    width: 200px;
    /* border: 1px solid black; */
    margin-top: 30px;
    padding: 10px;
    padding: 5px;
}
.footer-text1 p:hover{
    cursor: pointer;
    color: #07301e;
}
.footer-2{
    height: 180px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    
}
.last{
    height: 140px;
    width: 400px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
}
.footer-social i{
    margin-right: 10px;
    font-size: 2rem;
}
.footer-policy p{
    font-size: 3rem;
}
.copy{
    height: 70px;
    background-color:rgb(7, 61, 7);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

